/P0006 - Birnary Search/build/
/0064 -  Check Format/build/
/P0011_convert/build/
/P0053/nbproject/private/
/P0053/build/
/P0008/nbproject/private/
/P0008/build/
/P0061 - Shape-general/build/
/P0061 - Shape-general/nbproject/private/
/P0011 - Convert Base/build/
/TestCode/nbproject/private/
/TestCode/build/
/P0070/nbproject/private/
/P0070/build/
/P0052 - Country/build/
/0011-ConvertBase/dist/
/0011-fixed/nbproject/private/
/P0070-fixed/nbproject/private/
/0070 - Hoang/nbproject/private/
/P0070 - Hoang/nbproject/private/
/0071-Task/build/
/0070-fixed/nbproject/private/
/0008/nbproject/private/
/0070/nbproject/private/
/0070_pass/nbproject/private/
/0070_passed/build/
/0074/nbproject/private/
/0074/build/
