/P0006 - Birnary Search/build/
/0064 -  Check Format/build/
/P0011_convert/build/
/P0053/nbproject/private/
/P0053/build/
/P0008/nbproject/private/
/P0008/build/
/P0061 - Shape-general/build/
/P0061 - Shape-general/nbproject/private/
/P0011 - Convert Base/build/
/TestCode/nbproject/private/
/TestCode/build/
/P0070/nbproject/private/
/P0070/build/
